@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $main-dark-color;
  min-width: 320px;
  background: linear-gradient(90deg, $bcg-color2, $bcg-color3);
  min-height: 100vh;
  font-family: $main-font;
  max-width: 1400px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}