$main-font: 'Roboto',
sans-serif;
$bcg-color2: #55677c;
$bcg-color2-light: #959db1;
$bcg-color3: #aab9b9;
$shadow-dark: #444;
$contrast-color: rgb(255, 165, 0);
$contrast-color-transp: rgba(255, 165, 0, 0.95);
$main-light-color: rgb(255, 255, 255);
$main-dark-color: rgb(20, 14, 34);